body{

    margin:0;

    font-family:Segoe UI,Arial;

    background:#0f172a;

    color:white;

}

header{

    text-align:center;

    padding:30px;

    background:linear-gradient(90deg,#2563eb,#06b6d4);

}

header h1{

    margin:0;

    font-size:38px;

}

header p{

    margin-top:10px;

    font-size:18px;

}

.status{

    width:80%;

    margin:20px auto;

    background:#15803d;

    padding:15px;

    text-align:center;

    font-size:22px;

    border-radius:10px;

    font-weight:bold;

}

.cards{

    width:90%;

    margin:auto;

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:20px;

}

.card{

    background:white;

    color:#111827;

    border-radius:12px;

    text-align:center;

    padding:20px;

    transition:.3s;

}

.card:hover{

    transform:translateY(-8px);

}

.card h3{

    color:#2563eb;

}

section{

    width:90%;

    margin:40px auto;

}

section h2{

    text-align:center;

    color:#38bdf8;

}

.tech-grid{

    display:grid;

    grid-template-columns:repeat(5,1fr);

    gap:15px;

}

.tech{

    background:#1e293b;

    padding:18px;

    text-align:center;

    border-radius:8px;

    font-weight:bold;

    border:1px solid #2563eb;

}

table{

    width:100%;

    border-collapse:collapse;

    margin-top:20px;

}

td{

    border:1px solid #334155;

    padding:15px;

}

tr:nth-child(even){

    background:#1e293b;

}

.future-grid{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:20px;

}

.future-grid div{

    background:#ea580c;

    padding:20px;

    text-align:center;

    border-radius:8px;

    font-weight:bold;

}

footer{

    margin-top:50px;

    background:#020617;

    text-align:center;

    padding:30px;

}

footer h2{

    color:#38bdf8;

}